encryption = "age"

[age]
    identity = "/home/froeht/.config/chezmoi/key.txt"
    recipient = "age1rc6f9p347gzycd0yur66hxxpgtggr3kyerf4ljzrzl34g00yqcmqx3da5w"

[git]
    autoCommit = true
    autoPush = true

[data]
    email = "timothyfroehlich@gmail.com"
    name = "Tim Froehlich"

[diff]
    pager = "delta"

[merge]
    command = "code"
    args = ["--wait", "--merge", "{{`{{`}} .Destination {{`}}`}}", "{{`{{`}} .Source {{`}}`}}", "{{`{{`}} .Base {{`}}`}}", "{{`{{`}} .Target {{`}}`}}"]

[edit]
    command = "code"
    args = ["--wait"]
